$light-grey: #d3d3d3;
$white: #fff;
$black: #000;
$dark-grey: #666;
$background-grey: #F7F7F7;
$green: #4E8C4E;


body {
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  font-family:  "Helvetica" , sans-serif;
}

.navigation {
    color: $light-grey;
    overflow: hidden;
    .logo {
      float: left;
      display: block;
      margin: 1em 0;
      padding-left: 1.5em;
      color: #666;
    }
    .menu-bar {
      float: left;
      li {
        list-style: none;
        float: left;
        display: block;
        margin-right: 2em;
        margin-bottom: 0;

        &:hover {
          color: #000;
        }
      }
    }
  }

  .picture {
      background-image: url("../images/tree.png");
      color: white;
      text-align: center;
      text-shadow: 2px 1px 2px #000;
      height: 13em;
      margin: 0 auto;

      .simple-price {
        padding-top: 2em;
        font-weight: normal;
        margin-top: 0;
      }
      .try-before {
        font-weight: normal;
        line-height: 0%;
      }
    }
.membership {
  text-align: center;
  .info {
    background-color: $background-grey;
    border: .1em solid #E6E6E6;
    margin-top: 2em;
    .title {
      letter-spacing: 2px;
      margin: 0;
    }
    .price-text {
      font-weight: 300;
      font-size: 3em;
      margin: 0;
    }
    .per-months {
      font-weight: normal;
      margin: 0;
    }
  }
}

.five {
  background-color: green;
  color: white;
  padding: 3em 0;
}

.per-months.green {
  color: #799179;
}

.info > p {
  color: #5F6C71;
  border-bottom: .1em solid #E6E6E6;
  padding: 1em 0;
  margin: 0;
}

.twenty-five {
  background-color: #284279;
  color: white;
  padding: 3em 0;
}

.per-months.blue {
  color: #8999BB;
}

.forty-five {
  background-color: black;
  color: white;
  padding: 3em 0;
}

.per-months.grey {
  color: #848484;
}

.choose {
  padding: 2em 0;
  margin: 0;
    button{
      color: black;
      font-weight: bold;
      border-radius: 25px;
      border-style: solid;
      padding: 1em 2em;
      border: .1em solid #e6e6e6;
      background-color: white;
      font-size: 1em;
    }

}

.more-features {
  margin: 7em auto 2em auto;
  padding: 0 1em;
    .more-features-header {
      font-weight: normal;
      font-spacing: 3px;
    }
    .para {
      color: $dark-grey;
      font-spacing: 1px;
    }
}

.footer {
  background-color: $black;
  text-align: center;
  padding: 2em 2em;
    .footer-link {
      color: $white;
      text-decoration: underline;
    }
    .footer-text {
      color: #c0c0c0;
      margin: 0;
    }
}

@media (min-width: 476px){
  .picture {
    padding: 6em 0;
      .simple-price {
        font-size: 3em;
        padding-top: 0.6em;
      }
      .try-before {
        font-size: 3em;
      }
    }

  .main {
    .membership {
        .info  {
            .five > p {
              font-size: 2em;
              }
            .five > h1 {
              font-size: 6em;
            }
            .five > h3 {
              font-size: 2em;
            }
            .twenty-five > p {
              font-size: 2em;
              }
            .twenty-five > h1 {
              font-size: 6em;
            }
            .twenty-five > h3 {
              font-size: 2em;
            }
            .forty-five > p {
              font-size: 2em;
              }
            .forty-five > h1 {
              font-size: 6em;
            }
            .forty-five > h3 {
              font-size: 2em;
            }
          }
        .choose  {
          font-size: 1em;
        }
      }
    .more-features {
      margin: 7em auto 3em auto;
      padding: 0 1em;
      letter-spacing: 1px;
      .para {
        margin-bottom: 4em;  
      }
    }
  }

.footer {
  .footer-text {
    letter-spacing: 1px;
    .footer-link {
      letter-spacing: 1px;
    }
  }
}
}
